.company {
	padding: 25px 15px;
}

.company-name {
	font-size: 1.2em;
}

.sector {
	font-size: .85em;
}

.asset-explanations {
	font-size: .80em;
}

.button {
 display: block;
 height: 50px;
 width: 100%;
 background: #D3D3D3;
 border-radius: 5px;
 text-align: center;
 vertical-align: middle;
 line-height: 50px;
 color: black;
}

.site {
	padding-top:10px;
}