<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Stocks</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="styles.css">
</head>

<body>
	<div class="container">
		<div class="col-lg-3 col-lg-offset-4 generated_date">
			<div>Generated @ </div>
			<div>Last read @Tue May 03 - 21:10</div>
		</div>
		<div class="companies">
			
			<div class="col-lg-3 col-lg-offset-4 company">
				<div class="company-name">ChinaGreenAgriculture,Inc.
					
          <span>****</span>
          
        </div>
        <div>CGA</div>
        <div class="sector">BasicMaterials/AgriculturalChemical</div>
        <div>$1.33</div>
        <div class="stock-values">0.13% of $9.86 book value</div>
        <div>P/E: 1.58</div>
        <div>429583.0 <span class="asset-explanations">last year's assets </div>
        <div>56633.0 <span class="asset-explanations">last year's liabilities </div>
        <div>$39109.33 <span class="asset-explanations">three year asset difference</span></div>
        <div class="site"><a href=http://www.cgagri.com class="button"><span class="visit_site">visit site<span></a></div>
      </div>
      
			<div class="col-lg-3 col-lg-offset-4 company">
				<div class="company-name">KingoldJewelry,Inc.
					
          <span>****</span>
          
        </div>
        <div>KGJI</div>
        <div class="sector">BasicMaterials/Gold</div>
        <div>$1.38</div>
        <div class="stock-values">0.34% of $4.03 book value</div>
        <div>P/E: 3.87</div>
        <div>469616.0 <span class="asset-explanations">last year's assets </div>
        <div>204029.0 <span class="asset-explanations">last year's liabilities </div>
        <div>$108794.0 <span class="asset-explanations">three year asset difference</span></div>
        <div class="site"><a href=http://www.kingoldjewelry.com class="button"><span class="visit_site">visit site<span></a></div>
      </div>
      
			<div class="col-lg-3 col-lg-offset-4 company">
				<div class="company-name">SeaDragonEnergyInc
					
        </div>
        <div>SDX.V</div>
        <div class="sector">BasicMaterials/IndependentOil&Ga</div>
        <div>$0.45</div>
        <div class="stock-values">0.61% of $0.74 book value</div>
        <div>P/E: 6.83</div>
        <div>49000.0 <span class="asset-explanations">last year's assets </div>
        <div>10000.0 <span class="asset-explanations">last year's liabilities </div>
        <div>$12666.67 <span class="asset-explanations">three year asset difference</span></div>
        <div class="site"><a href=http://www.sdxenergy.com class="button"><span class="visit_site">visit site<span></a></div>
      </div>
      
			<div class="col-lg-3 col-lg-offset-4 company">
				<div class="company-name">L&LEnergy,Inc.
					
        </div>
        <div>LLEN</div>
        <div class="sector">BasicMaterials/NonmetallicMineralMining</div>
        <div>$0.01</div>
        <div class="stock-values">0.0% of $5.72 book value</div>
        <div>P/E: 0.02</div>
        <div>322597.0 <span class="asset-explanations">last year's assets </div>
        <div>108737.0 <span class="asset-explanations">last year's liabilities </div>
        <div>$47094.67 <span class="asset-explanations">three year asset difference</span></div>
        <div class="site"><a href=http://www.lnlinternational.com class="button"><span class="visit_site">visit site<span></a></div>
      </div>
      
			<div class="col-lg-3 col-lg-offset-4 company">
				<div class="company-name">AvalonOilandGas,Inc.
					
        </div>
        <div>AOGN</div>
        <div class="sector">BasicMaterials/Oil&GaDrilling&Exploration</div>
        <div>$0.02</div>
        <div class="stock-values">0.18% of $0.11 book value</div>
        <div>P/E: 3.89</div>
        <div>2747.0 <span class="asset-explanations">last year's assets </div>
        <div>1057.0 <span class="asset-explanations">last year's liabilities </div>
        <div>$65.67 <span class="asset-explanations">three year asset difference</span></div>
        <div class="site"><a href=http://www.avalonoilinc.com class="button"><span class="visit_site">visit site<span></a></div>
      </div>
      
			<div class="col-lg-3 col-lg-offset-4 company">
				<div class="company-name">EMASOffshoreLtd
					
        </div>
        <div>EMAS.OL</div>
        <div class="sector">BasicMaterials/Oil&GaEquipment&Service</div>
        <div>$0.72</div>
        <div class="stock-values">0.6% of $1.21 book value</div>
        <div>P/E: 6.61</div>
        <div>966000.0 <span class="asset-explanations">last year's assets </div>
        <div>0.0 <span class="asset-explanations">last year's liabilities </div>
        <div>$644000.0 <span class="asset-explanations">three year asset difference</span></div>
        <div class="site"><a href=http://www.emasoffshore.com class="button"><span class="visit_site">visit site<span></a></div>
      </div>
      
			<div class="col-lg-3 col-lg-offset-4 company">
				<div class="company-name">AsiaCarbonIndustries,Inc.
					
        </div>
        <div>ACRB</div>
        <div class="sector">BasicMaterials/SpecialtyChemical</div>
        <div>$0.01</div>
        <div class="stock-values">0.01% of $0.67 book value</div>
        <div>P/E: 0.15</div>
        <div>39808.0 <span class="asset-explanations">last year's assets </div>
        <div>4237.0 <span class="asset-explanations">last year's liabilities </div>
        <div>$6625.33 <span class="asset-explanations">three year asset difference</span></div>
        <div class="site"><a href=http://www.asiacarbonindustries.com class="button"><span class="visit_site">visit site<span></a></div>
      </div>
      
			<div class="col-lg-3 col-lg-offset-4 company">
				<div class="company-name">GulfResources,Inc.
					
          <span>****</span>
          
        </div>
        <div>GURE</div>
        <div class="sector">BasicMaterials/SpecialtyChemical</div>
        <div>$1.48</div>
        <div class="stock-values">0.2% of $7.35 book value</div>
        <div>P/E: 2.24</div>
        <div>356743.0 <span class="asset-explanations">last year's assets </div>
        <div>18632.0 <span class="asset-explanations">last year's liabilities </div>
        <div>$27086.33 <span class="asset-explanations">three year asset difference</span></div>
        <div class="site"><a href=http://www.gulfresourcesinc.com class="button"><span class="visit_site">visit site<span></a></div>
      </div>
      
			<div class="col-lg-3 col-lg-offset-4 company">
				<div class="company-name">SORLAutoParts,Inc.
					
          <span>****</span>
          
        </div>
        <div>SORL</div>
        <div class="sector">ConsumerGoods/AutoManufacturer-Major</div>
        <div>$1.69</div>
        <div class="stock-values">0.16% of $10.27 book value</div>
        <div>P/E: 2.93</div>
        <div>320554.0 <span class="asset-explanations">last year's assets </div>
        <div>120391.0 <span class="asset-explanations">last year's liabilities </div>
        <div>$33740.67 <span class="asset-explanations">three year asset difference</span></div>
        <div class="site"><a href=http://www.sorl.cn class="button"><span class="visit_site">visit site<span></a></div>
      </div>
      
			<div class="col-lg-3 col-lg-offset-4 company">
				<div class="company-name">ChinaNewBorunCorporation
					
          <span>****</span>
          
        </div>
        <div>BORN</div>
        <div class="sector">ConsumerGoods/Beverage-Brewer</div>
        <div>$1.44</div>
        <div class="stock-values">0.14% of $10.49 book value</div>
        <div>P/E: 2.71</div>
        <div>531163.0 <span class="asset-explanations">last year's assets </div>
        <div>260959.0 <span class="asset-explanations">last year's liabilities </div>
        <div>$61879.33 <span class="asset-explanations">three year asset difference</span></div>
        <div class="site"><a href=http://www.chinanewborun.com class="button"><span class="visit_site">visit site<span></a></div>
      </div>
      
			<div class="col-lg-3 col-lg-offset-4 company">
				<div class="company-name">AoxinTianliGroup,Inc.
					
          <span>****</span>
          
        </div>
        <div>ABAC</div>
        <div class="sector">ConsumerGoods/FarmProduct</div>
        <div>$0.72</div>
        <div class="stock-values">0.26% of $2.82 book value</div>
        <div>P/E: 6.00</div>
        <div>110910.0 <span class="asset-explanations">last year's assets </div>
        <div>19100.0 <span class="asset-explanations">last year's liabilities </div>
        <div>$21279.67 <span class="asset-explanations">three year asset difference</span></div>
        <div class="site"><a href=http://www.aoxintianli-china.com class="button"><span class="visit_site">visit site<span></a></div>
      </div>
      
			<div class="col-lg-3 col-lg-offset-4 company">
				<div class="company-name">PingtanMarineEnterpriseLtd.
					
          <span>****</span>
          
        </div>
        <div>PME</div>
        <div class="sector">ConsumerGoods/FarmProduct</div>
        <div>$1.3</div>
        <div class="stock-values">0.63% of $2.06 book value</div>
        <div>P/E: 1.69</div>
        <div>231877.0 <span class="asset-explanations">last year's assets </div>
        <div>81407.0 <span class="asset-explanations">last year's liabilities </div>
        <div>$14864.0 <span class="asset-explanations">three year asset difference</span></div>
        <div class="site"><a href=http://www.ptmarine.com class="button"><span class="visit_site">visit site<span></a></div>
      </div>
      
			<div class="col-lg-3 col-lg-offset-4 company">
				<div class="company-name">YewBio-PharmGroup,Inc.
					
        </div>
        <div>YEWB</div>
        <div class="sector">ConsumerGoods/FarmProduct</div>
        <div>$0.08</div>
        <div class="stock-values">0.11% of $0.74 book value</div>
        <div>P/E: 0.76</div>
        <div>43811.0 <span class="asset-explanations">last year's assets </div>
        <div>4641.0 <span class="asset-explanations">last year's liabilities </div>
        <div>$5755.33 <span class="asset-explanations">three year asset difference</span></div>
        <div class="site"><a href=http://www.yewbiopharm.com class="button"><span class="visit_site">visit site<span></a></div>
      </div>
      
			<div class="col-lg-3 col-lg-offset-4 company">
				<div class="company-name">NovaLifestyle,Inc.
					
          <span>****</span>
          
        </div>
        <div>NVFY</div>
        <div class="sector">ConsumerGoods/HomeFurnihing&Fixture</div>
        <div>$1.05</div>
        <div class="stock-values">0.43% of $2.45 book value</div>
        <div>P/E: 6.71</div>
        <div>89748.0 <span class="asset-explanations">last year's assets </div>
        <div>29756.0 <span class="asset-explanations">last year's liabilities </div>
        <div>$12758.0 <span class="asset-explanations">three year asset difference</span></div>
        <div class="site"><a href=http://www.novalifestyle.com class="button"><span class="visit_site">visit site<span></a></div>
      </div>
      
			<div class="col-lg-3 col-lg-offset-4 company">
				<div class="company-name">SenYuInternationalHoldings,
					
        </div>
        <div>CSWG</div>
        <div class="sector">ConsumerGoods/MeatProduct</div>
        <div>$0.02</div>
        <div class="stock-values">0.01% of $3.71 book value</div>
        <div>P/E: 0.01</div>
        <div>68348.0 <span class="asset-explanations">last year's assets </div>
        <div>7581.0 <span class="asset-explanations">last year's liabilities </div>
        <div>$23972.0 <span class="asset-explanations">three year asset difference</span></div>
        <div class="site"><a href=http://www.hljsenyu.com class="button"><span class="visit_site">visit site<span></a></div>
      </div>
      
			<div class="col-lg-3 col-lg-offset-4 company">
				<div class="company-name">KBSFashionGroupLimited
					
        </div>
        <div>KBSF</div>
        <div class="sector">ConsumerGoods/Textile-ApparelClothing</div>
        <div>$0.35</div>
        <div class="stock-values">0.08% of $4.24 book value</div>
        <div>P/E: 1.17</div>
        <div>114868.0 <span class="asset-explanations">last year's assets </div>
        <div>9250.0 <span class="asset-explanations">last year's liabilities </div>
        <div>$19628.67 <span class="asset-explanations">three year asset difference</span></div>
        <div class="site"><a href=http://www.kbsfashion.com class="button"><span class="visit_site">visit site<span></a></div>
      </div>
      
			<div class="col-lg-3 col-lg-offset-4 company">
				<div class="company-name">ONEBioCorp.
					
        </div>
        <div>ONBI</div>
        <div class="sector">Healthcare/Biotechnology</div>
        <div>$0.1</div>
        <div class="stock-values">0.02% of $5.75 book value</div>
        <div>P/E: 0.08</div>
        <div>70086.0 <span class="asset-explanations">last year's assets </div>
        <div>27992.0 <span class="asset-explanations">last year's liabilities </div>
        <div>$28495.67 <span class="asset-explanations">three year asset difference</span></div>
        <div class="site"><a href=http://www.onehcorp.com class="button"><span class="visit_site">visit site<span></a></div>
      </div>
      
			<div class="col-lg-3 col-lg-offset-4 company">
				<div class="company-name">SkystarBioPharmaceuticalCom
					
        </div>
        <div>SKBI</div>
        <div class="sector">Healthcare/DrugManufacturer-Major</div>
        <div>$0.19</div>
        <div class="stock-values">0.01% of $14.41 book value</div>
        <div>P/E: 0.15</div>
        <div>136223.0 <span class="asset-explanations">last year's assets </div>
        <div>25830.0 <span class="asset-explanations">last year's liabilities </div>
        <div>$17603.33 <span class="asset-explanations">three year asset difference</span></div>
        <div class="site"><a href=http://www.skystarbio-pharmaceutical.com class="button"><span class="visit_site">visit site<span></a></div>
      </div>
      
			<div class="col-lg-3 col-lg-offset-4 company">
				<div class="company-name">PharcoSA
					
        </div>
        <div>PHAR.BR</div>
        <div class="sector">Healthcare/Drug-Generic</div>
        <div>$0.71</div>
        <div class="stock-values">0.61% of $1.16 book value</div>
        <div>P/E: 8.78</div>
        <div>1000.0 <span class="asset-explanations">last year's assets </div>
        <div>0.0 <span class="asset-explanations">last year's liabilities </div>
        <div>$666.67 <span class="asset-explanations">three year asset difference</span></div>
        <div class="site"><a href=http://www.pharco.be class="button"><span class="visit_site">visit site<span></a></div>
      </div>
      
			<div class="col-lg-3 col-lg-offset-4 company">
				<div class="company-name">GuanweiRecyclingCorp.
					
        </div>
        <div>GPRC</div>
        <div class="sector">IndustrialGoods/WateManagement</div>
        <div>$0.11</div>
        <div class="stock-values">0.02% of $5.59 book value</div>
        <div>P/E: 0.14</div>
        <div>61485.0 <span class="asset-explanations">last year's assets </div>
        <div>3545.0 <span class="asset-explanations">last year's liabilities </div>
        <div>$8253.33 <span class="asset-explanations">three year asset difference</span></div>
        <div class="site"><a href=http://www.guanweirecycling.com class="button"><span class="visit_site">visit site<span></a></div>
      </div>
      
			<div class="col-lg-3 col-lg-offset-4 company">
				<div class="company-name">NaviosMaritimePartnersL.P.
					
          <span>****</span>
          
        </div>
        <div>NMM</div>
        <div class="sector">Services/Shipping</div>
        <div>$1.61</div>
        <div class="stock-values">0.19% of $8.64 book value</div>
        <div>P/E: 3.33</div>
        <div>1350291.0 <span class="asset-explanations">last year's assets </div>
        <div>618076.0 <span class="asset-explanations">last year's liabilities </div>
        <div>$37264.67 <span class="asset-explanations">three year asset difference</span></div>
        <div class="site"><a href=http://www.navios-mlp.com class="button"><span class="visit_site">visit site<span></a></div>
      </div>
      
			<div class="col-lg-3 col-lg-offset-4 company">
				<div class="company-name">JingweiInternationalLimited
					
        </div>
        <div>JNGW</div>
        <div class="sector">Technology/ApplicationSoftware</div>
        <div>$0.18</div>
        <div class="stock-values">0.06% of $2.95 book value</div>
        <div>P/E: 3.16</div>
        <div>79843.0 <span class="asset-explanations">last year's assets </div>
        <div>19566.0 <span class="asset-explanations">last year's liabilities </div>
        <div>$7812.0 <span class="asset-explanations">three year asset difference</span></div>
        <div class="site"><a href=http://www.jingweicom.com class="button"><span class="visit_site">visit site<span></a></div>
      </div>
      
			<div class="col-lg-3 col-lg-offset-4 company">
				<div class="company-name">Sky-mobiLimited
					
        </div>
        <div>MOBI</div>
        <div class="sector">Technology/ApplicationSoftware</div>
        <div>$1.94</div>
        <div class="stock-values">0.56% of $3.49 book value</div>
        <div>P/E: 5.19</div>
        <div>141532.0 <span class="asset-explanations">last year's assets </div>
        <div>44260.0 <span class="asset-explanations">last year's liabilities </div>
        <div>$12490.67 <span class="asset-explanations">three year asset difference</span></div>
        <div class="site"><a href=http://www.sky-mobi.com class="button"><span class="visit_site">visit site<span></a></div>
      </div>
      
			<div class="col-lg-3 col-lg-offset-4 company">
				<div class="company-name">ArtificialLife,Inc.
					
        </div>
        <div>ALIF</div>
        <div class="sector">Technology/BuineSoftware&Service</div>
        <div>$0.01</div>
        <div class="stock-values">0.01% of $0.92 book value</div>
        <div>P/E: 0.11</div>
        <div>70449.0 <span class="asset-explanations">last year's assets </div>
        <div>10122.0 <span class="asset-explanations">last year's liabilities </div>
        <div>$19591.33 <span class="asset-explanations">three year asset difference</span></div>
        <div class="site"><a href=http://www.artificial-life.com class="button"><span class="visit_site">visit site<span></a></div>
      </div>
      
			<div class="col-lg-3 col-lg-offset-4 company">
				<div class="company-name">ZSTDigitalNetworks,Inc.
					
        </div>
        <div>ZSTN</div>
        <div class="sector">Technology/CommunicationEquipment</div>
        <div>$0.1</div>
        <div class="stock-values">0.01% of $8.21 book value</div>
        <div>P/E: 0.04</div>
        <div>50128.0 <span class="asset-explanations">last year's assets </div>
        <div>0.0 <span class="asset-explanations">last year's liabilities </div>
        <div>$33418.67 <span class="asset-explanations">three year asset difference</span></div>
        <div class="site"><a href=http://www.zstdigital.com class="button"><span class="visit_site">visit site<span></a></div>
      </div>
      
			<div class="col-lg-3 col-lg-offset-4 company">
				<div class="company-name">UnitedMicroelectronicsCorpor
					
        </div>
        <div>UMC</div>
        <div class="sector">Technology/SemiconductorEquipment&Material</div>
        <div>$1.85</div>
        <div class="stock-values">0.65% of $2.83 book value</div>
        <div>P/E: 11.46</div>
        <div>10209587.0 <span class="asset-explanations">last year's assets </div>
        <div>3425844.0 <span class="asset-explanations">last year's liabilities </div>
        <div>$242484.33 <span class="asset-explanations">three year asset difference</span></div>
        <div class="site"><a href=http://www.umc.com class="button"><span class="visit_site">visit site<span></a></div>
      </div>
      
			<div class="col-lg-3 col-lg-offset-4 company">
				<div class="company-name">eRoomSystemTechnologiesInc.
					
        </div>
        <div>ERMS</div>
        <div class="sector">Technology/Technical&SytemSoftware</div>
        <div>$0.07</div>
        <div class="stock-values">0.64% of $0.11 book value</div>
        <div>P/E: 35.00</div>
        <div>2643.0 <span class="asset-explanations">last year's assets </div>
        <div>93.0 <span class="asset-explanations">last year's liabilities </div>
        <div>$53.0 <span class="asset-explanations">three year asset difference</span></div>
        <div class="site"><a href=http://www.eroomsystem.com class="button"><span class="visit_site">visit site<span></a></div>
      </div>
      
			<div class="col-lg-3 col-lg-offset-4 company">
				<div class="company-name">LinktoneLtd.
					
        </div>
        <div>LTONY</div>
        <div class="sector">Technology/WireleCommunication</div>
        <div>$0.8</div>
        <div class="stock-values">0.26% of $3.05 book value</div>
        <div>P/E: 124.00</div>
        <div>204415.0 <span class="asset-explanations">last year's assets </div>
        <div>49061.0 <span class="asset-explanations">last year's liabilities </div>
        <div>$9119.0 <span class="asset-explanations">three year asset difference</span></div>
        <div class="site"><a href=http://www.mncmi.com class="button"><span class="visit_site">visit site<span></a></div>
      </div>
      
			<div class="col-lg-3 col-lg-offset-4 company">
				<div class="company-name">ChinaNaturalGas,Inc.
					
        </div>
        <div>CHNGQ</div>
        <div class="sector">Utilities/GaUtilitie</div>
        <div>$0.02</div>
        <div class="stock-values">0.0% of $10.23 book value</div>
        <div>P/E: 1.57</div>
        <div>288501.0 <span class="asset-explanations">last year's assets </div>
        <div>84491.0 <span class="asset-explanations">last year's liabilities </div>
        <div>$17523.0 <span class="asset-explanations">three year asset difference</span></div>
        <div class="site"><a href=http://www.naturalgaschina.com class="button"><span class="visit_site">visit site<span></a></div>
      </div>
      
    </div>  
  </div>
</body>
</html>