<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Stocks</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="styles.css">
</head>

<body>
	<div class="container">
		<div class="col-lg-3 col-lg-offset-4 generated_date">
			<div>Generated @ </div>
			<div>Last read @Wed Jun 01 - 00:00</div>
		</div>
		<div class="companies">
			
			<div class="col-lg-3 col-lg-offset-4 company">
				<div class="company-name">SkyPeopleFruitJuice,Inc.
					
        </div>
        <div>SPU</div>
        <div class="sector">ConsumerGoods/Beverage-SoftDrink\n</div>
        <div>$1.76</div>
        <div class="stock-values">0.03% of $53.15 book value</div>
        <div>P/E: 0.97</div>
        <div>279434.0 <span class="asset-explanations">last year's assets </div>
        <div>98032.0 <span class="asset-explanations">last year's liabilities </div>
        <div>$43509.67 <span class="asset-explanations">three year asset difference</span></div>
        <div class="site"><a href=http://www.skypeoplefruitjuice.com class="button"><span class="visit_site">visit site<span></a></div>
      </div>
      
			<div class="col-lg-3 col-lg-offset-4 company">
				<div class="company-name">AoxinTianliGroup,Inc.
					
          <span>****</span>
          
        </div>
        <div>ABAC</div>
        <div class="sector">ConsumerGoods/FarmProduct\n</div>
        <div>$0.65</div>
        <div class="stock-values">0.23% of $2.88 book value</div>
        <div>P/E: 4.82</div>
        <div>110910.0 <span class="asset-explanations">last year's assets </div>
        <div>19100.0 <span class="asset-explanations">last year's liabilities </div>
        <div>$21279.67 <span class="asset-explanations">three year asset difference</span></div>
        <div class="site"><a href=http://www.aoxintianli-china.com class="button"><span class="visit_site">visit site<span></a></div>
      </div>
      
			<div class="col-lg-3 col-lg-offset-4 company">
				<div class="company-name">PingtanMarineEnterpriseLtd.
					
          <span>****</span>
          
        </div>
        <div>PME</div>
        <div class="sector">ConsumerGoods/FarmProduct\n</div>
        <div>$1.26</div>
        <div class="stock-values">0.68% of $1.84 book value</div>
        <div>P/E: 19.53</div>
        <div>231877.0 <span class="asset-explanations">last year's assets </div>
        <div>81407.0 <span class="asset-explanations">last year's liabilities </div>
        <div>$14864.0 <span class="asset-explanations">three year asset difference</span></div>
        <div class="site"><a href=http://www.ptmarine.com class="button"><span class="visit_site">visit site<span></a></div>
      </div>
      
			<div class="col-lg-3 col-lg-offset-4 company">
				<div class="company-name">YewBio-PharmGroup,Inc.
					
        </div>
        <div>YEWB</div>
        <div class="sector">ConsumerGoods/FarmProduct\n</div>
        <div>$0.06</div>
        <div class="stock-values">0.08% of $0.78 book value</div>
        <div>P/E: 0.57</div>
        <div>43811.0 <span class="asset-explanations">last year's assets </div>
        <div>4641.0 <span class="asset-explanations">last year's liabilities </div>
        <div>$5755.33 <span class="asset-explanations">three year asset difference</span></div>
        <div class="site"><a href=http://www.yewbiopharm.com class="button"><span class="visit_site">visit site<span></a></div>
      </div>
      
			<div class="col-lg-3 col-lg-offset-4 company">
				<div class="company-name">NovaLifestyle,Inc.
					
          <span>****</span>
          
        </div>
        <div>NVFY</div>
        <div class="sector">ConsumerGoods/HomeFurnihing&Fixture\n</div>
        <div>$0.55</div>
        <div class="stock-values">0.22% of $2.47 book value</div>
        <div>P/E: 21.07</div>
        <div>89748.0 <span class="asset-explanations">last year's assets </div>
        <div>29756.0 <span class="asset-explanations">last year's liabilities </div>
        <div>$12758.0 <span class="asset-explanations">three year asset difference</span></div>
        <div class="site"><a href=http://www.novalifestyle.com class="button"><span class="visit_site">visit site<span></a></div>
      </div>
      
			<div class="col-lg-3 col-lg-offset-4 company">
				<div class="company-name">SenYuInternationalHoldings,
					
        </div>
        <div>CSWG</div>
        <div class="sector">ConsumerGoods/MeatProduct\n</div>
        <div>$0.02</div>
        <div class="stock-values">0.01% of $3.71 book value</div>
        <div>P/E: 0.01</div>
        <div>68348.0 <span class="asset-explanations">last year's assets </div>
        <div>7581.0 <span class="asset-explanations">last year's liabilities </div>
        <div>$23972.0 <span class="asset-explanations">three year asset difference</span></div>
        <div class="site"><a href=http://www.hljsenyu.com class="button"><span class="visit_site">visit site<span></a></div>
      </div>
      
			<div class="col-lg-3 col-lg-offset-4 company">
				<div class="company-name">GenusPaper&BoardsLtd
					
        </div>
        <div>GENUSPAPER.NS</div>
        <div class="sector">ConsumerGoods/Paper&PaperProduct\n</div>
        <div>$4.05</div>
        <div class="stock-values">0.31% of $13.02 book value</div>
        <div>P/E: 11.51</div>
        <div>4512000.0 <span class="asset-explanations">last year's assets </div>
        <div>0.0 <span class="asset-explanations">last year's liabilities </div>
        <div>$3008000.0 <span class="asset-explanations">three year asset difference</span></div>
        <div class="site"><a href=http://www.genuspaper.com class="button"><span class="visit_site">visit site<span></a></div>
      </div>
      
			<div class="col-lg-3 col-lg-offset-4 company">
				<div class="company-name">VestasiaLtd
					
        </div>
        <div>MLVES.PA</div>
        <div class="sector">Financial/AetManagement\n</div>
        <div>$0.01</div>
        <div class="stock-values">0.01% of $1.1 book value</div>
        <div>P/E: 0.01</div>
        <div>1000.0 <span class="asset-explanations">last year's assets </div>
        <div>0.0 <span class="asset-explanations">last year's liabilities </div>
        <div>$666.67 <span class="asset-explanations">three year asset difference</span></div>
        <div class="site"><a href=http://www.vestasiam-a.com class="button"><span class="visit_site">visit site<span></a></div>
      </div>
      
			<div class="col-lg-3 col-lg-offset-4 company">
				<div class="company-name">AtlasMaraLtd
					
        </div>
        <div>ATMA.L</div>
        <div class="sector">Financial/MoneyCenterBank\n</div>
        <div>$4.71</div>
        <div class="stock-values">0.53% of $8.85 book value</div>
        <div>P/E: 8839.29</div>
        <div>2621000.0 <span class="asset-explanations">last year's assets </div>
        <div>0.0 <span class="asset-explanations">last year's liabilities </div>
        <div>$1747333.33 <span class="asset-explanations">three year asset difference</span></div>
        <div class="site"><a href=http://www.atlasmara.com class="button"><span class="visit_site">visit site<span></a></div>
      </div>
      
			<div class="col-lg-3 col-lg-offset-4 company">
				<div class="company-name">GlobalworthRealEstate
					
        </div>
        <div>GWI.L</div>
        <div class="sector">Financial/PropertyManagement\n</div>
        <div>$5.08</div>
        <div class="stock-values">0.64% of $7.97 book value</div>
        <div>P/E: 9.77</div>
        <div>166000.0 <span class="asset-explanations">last year's assets </div>
        <div>0.0 <span class="asset-explanations">last year's liabilities </div>
        <div>$110666.67 <span class="asset-explanations">three year asset difference</span></div>
        <div class="site"><a href=http://www.globalworth.com class="button"><span class="visit_site">visit site<span></a></div>
      </div>
      
			<div class="col-lg-3 col-lg-offset-4 company">
				<div class="company-name">ChinaHGSRealEstateInc.
					
        </div>
        <div>HGSH</div>
        <div class="sector">Financial/RealEtateDevelopment\n</div>
        <div>$1.69</div>
        <div class="stock-values">0.48% of $3.51 book value</div>
        <div>P/E: 3.26</div>
        <div>298440.0 <span class="asset-explanations">last year's assets </div>
        <div>140965.0 <span class="asset-explanations">last year's liabilities </div>
        <div>$39279.33 <span class="asset-explanations">three year asset difference</span></div>
        <div class="site"><a href=http://www.chinahgs.com class="button"><span class="visit_site">visit site<span></a></div>
      </div>
      
			<div class="col-lg-3 col-lg-offset-4 company">
				<div class="company-name">UnitedDevelopmentFundingIV
					
        </div>
        <div>UDF</div>
        <div class="sector">Financial/REIT-Reidential\n</div>
        <div>$3.2</div>
        <div class="stock-values">0.19% of $16.63 book value</div>
        <div>P/E: 1.74</div>
        <div>682153.0 <span class="asset-explanations">last year's assets </div>
        <div>178210.0 <span class="asset-explanations">last year's liabilities </div>
        <div>$152321.67 <span class="asset-explanations">three year asset difference</span></div>
        <div class="site"><a href=http://www.udfiv.com class="button"><span class="visit_site">visit site<span></a></div>
      </div>
      
			<div class="col-lg-3 col-lg-offset-4 company">
				<div class="company-name">ONEBioCorp.
					
        </div>
        <div>ONBI</div>
        <div class="sector">Healthcare/Biotechnology\n</div>
        <div>$0.01</div>
        <div class="stock-values">0.0% of $5.75 book value</div>
        <div>P/E: 0.01</div>
        <div>70086.0 <span class="asset-explanations">last year's assets </div>
        <div>27992.0 <span class="asset-explanations">last year's liabilities </div>
        <div>$28495.67 <span class="asset-explanations">three year asset difference</span></div>
        <div class="site"><a href=http://www.onehcorp.com class="button"><span class="visit_site">visit site<span></a></div>
      </div>
      
			<div class="col-lg-3 col-lg-offset-4 company">
				<div class="company-name">SkystarBioPharmaceuticalCom
					
        </div>
        <div>SKBI</div>
        <div class="sector">Healthcare/DrugManufacturer-Major\n</div>
        <div>$0.16</div>
        <div class="stock-values">0.01% of $14.41 book value</div>
        <div>P/E: 0.12</div>
        <div>136223.0 <span class="asset-explanations">last year's assets </div>
        <div>25830.0 <span class="asset-explanations">last year's liabilities </div>
        <div>$17603.33 <span class="asset-explanations">three year asset difference</span></div>
        <div class="site"><a href=http://www.skystarbio-pharmaceutical.com class="button"><span class="visit_site">visit site<span></a></div>
      </div>
      
			<div class="col-lg-3 col-lg-offset-4 company">
				<div class="company-name">NutrastarInternationalInc.
					
        </div>
        <div>NUIN</div>
        <div class="sector">Healthcare/DrugManufacturer-Other\n</div>
        <div>$0.09</div>
        <div class="stock-values">0.01% of $8.69 book value</div>
        <div>P/E: 0.07</div>
        <div>143799.0 <span class="asset-explanations">last year's assets </div>
        <div>4941.0 <span class="asset-explanations">last year's liabilities </div>
        <div>$23641.0 <span class="asset-explanations">three year asset difference</span></div>
        <div class="site"><a href=http://www.nutrastarintl.com class="button"><span class="visit_site">visit site<span></a></div>
      </div>
      
			<div class="col-lg-3 col-lg-offset-4 company">
				<div class="company-name">PharcoSA
					
        </div>
        <div>PHAR.BR</div>
        <div class="sector">Healthcare/Drug-Generic\n</div>
        <div>$0.5</div>
        <div class="stock-values">0.43% of $1.16 book value</div>
        <div>P/E: 6.10</div>
        <div>1000.0 <span class="asset-explanations">last year's assets </div>
        <div>0.0 <span class="asset-explanations">last year's liabilities </div>
        <div>$666.67 <span class="asset-explanations">three year asset difference</span></div>
        <div class="site"><a href=http://www.pharco.be class="button"><span class="visit_site">visit site<span></a></div>
      </div>
      
			<div class="col-lg-3 col-lg-offset-4 company">
				<div class="company-name">YulongEco-MaterialsLimited
					
        </div>
        <div>YECO</div>
        <div class="sector">IndustrialGoods/GeneralBuildingMaterial\n</div>
        <div>$3.26</div>
        <div class="stock-values">0.54% of $6.08 book value</div>
        <div>P/E: 3.33</div>
        <div>69555.0 <span class="asset-explanations">last year's assets </div>
        <div>0.0 <span class="asset-explanations">last year's liabilities </div>
        <div>$46370.0 <span class="asset-explanations">three year asset difference</span></div>
        <div class="site"><a href=Industrial Goods class="button"><span class="visit_site">visit site<span></a></div>
      </div>
      
			<div class="col-lg-3 col-lg-offset-4 company">
				<div class="company-name">P&FIndustriesInc.
					
        </div>
        <div>PFIN</div>
        <div class="sector">IndustrialGoods/SmallTool&Acceorie\n</div>
        <div>$8.94</div>
        <div class="stock-values">0.6% of $14.94 book value</div>
        <div>P/E: 2.24</div>
        <div>70578.0 <span class="asset-explanations">last year's assets </div>
        <div>26936.0 <span class="asset-explanations">last year's liabilities </div>
        <div>$4940.33 <span class="asset-explanations">three year asset difference</span></div>
        <div class="site"><a href=http://www.pfina.com class="button"><span class="visit_site">visit site<span></a></div>
      </div>
      
			<div class="col-lg-3 col-lg-offset-4 company">
				<div class="company-name">GuanweiRecyclingCorp.
					
        </div>
        <div>GPRC</div>
        <div class="sector">IndustrialGoods/WateManagement\n</div>
        <div>$0.11</div>
        <div class="stock-values">0.02% of $5.59 book value</div>
        <div>P/E: 0.14</div>
        <div>61485.0 <span class="asset-explanations">last year's assets </div>
        <div>3545.0 <span class="asset-explanations">last year's liabilities </div>
        <div>$8253.33 <span class="asset-explanations">three year asset difference</span></div>
        <div class="site"><a href=http://www.guanweirecycling.com class="button"><span class="visit_site">visit site<span></a></div>
      </div>
      
			<div class="col-lg-3 col-lg-offset-4 company">
				<div class="company-name">CapitalProductPartnersL.P.
					
        </div>
        <div>CPLP</div>
        <div class="sector">Services/Shipping\n</div>
        <div>$2.94</div>
        <div class="stock-values">0.38% of $7.68 book value</div>
        <div>P/E: 8.10</div>
        <div>1555875.0 <span class="asset-explanations">last year's assets </div>
        <div>618055.0 <span class="asset-explanations">last year's liabilities </div>
        <div>$73375.0 <span class="asset-explanations">three year asset difference</span></div>
        <div class="site"><a href=http://www.capitalpplp.com class="button"><span class="visit_site">visit site<span></a></div>
      </div>
      
			<div class="col-lg-3 col-lg-offset-4 company">
				<div class="company-name">NaviosMaritimePartnersL.P.
					
          <span>****</span>
          
        </div>
        <div>NMM</div>
        <div class="sector">Services/Shipping\n</div>
        <div>$1.4</div>
        <div class="stock-values">0.16% of $8.64 book value</div>
        <div>P/E: 3.81</div>
        <div>1350291.0 <span class="asset-explanations">last year's assets </div>
        <div>618076.0 <span class="asset-explanations">last year's liabilities </div>
        <div>$37264.67 <span class="asset-explanations">three year asset difference</span></div>
        <div class="site"><a href=http://www.navios-mlp.com class="button"><span class="visit_site">visit site<span></a></div>
      </div>
      
			<div class="col-lg-3 col-lg-offset-4 company">
				<div class="company-name">JingweiInternationalLimited
					
        </div>
        <div>JNGW</div>
        <div class="sector">Technology/ApplicationSoftware\n</div>
        <div>$0.18</div>
        <div class="stock-values">0.06% of $2.95 book value</div>
        <div>P/E: 3.16</div>
        <div>79843.0 <span class="asset-explanations">last year's assets </div>
        <div>19566.0 <span class="asset-explanations">last year's liabilities </div>
        <div>$7812.0 <span class="asset-explanations">three year asset difference</span></div>
        <div class="site"><a href=http://www.jingweicom.com class="button"><span class="visit_site">visit site<span></a></div>
      </div>
      
			<div class="col-lg-3 col-lg-offset-4 company">
				<div class="company-name">ZSTDigitalNetworks,Inc.
					
        </div>
        <div>ZSTN</div>
        <div class="sector">Technology/CommunicationEquipment\n</div>
        <div>$0.09</div>
        <div class="stock-values">0.01% of $8.21 book value</div>
        <div>P/E: 0.04</div>
        <div>50128.0 <span class="asset-explanations">last year's assets </div>
        <div>0.0 <span class="asset-explanations">last year's liabilities </div>
        <div>$33418.67 <span class="asset-explanations">three year asset difference</span></div>
        <div class="site"><a href=http://www.zstdigital.com class="button"><span class="visit_site">visit site<span></a></div>
      </div>
      
			<div class="col-lg-3 col-lg-offset-4 company">
				<div class="company-name">eRoomSystemTechnologiesInc.
					
        </div>
        <div>ERMS</div>
        <div class="sector">Technology/Technical&SytemSoftware\n</div>
        <div>$0.07</div>
        <div class="stock-values">0.64% of $0.11 book value</div>
        <div>P/E: 35.00</div>
        <div>2643.0 <span class="asset-explanations">last year's assets </div>
        <div>93.0 <span class="asset-explanations">last year's liabilities </div>
        <div>$53.0 <span class="asset-explanations">three year asset difference</span></div>
        <div class="site"><a href=http://www.eroomsystem.com class="button"><span class="visit_site">visit site<span></a></div>
      </div>
      
			<div class="col-lg-3 col-lg-offset-4 company">
				<div class="company-name">LinktoneLtd.
					
        </div>
        <div>LTONY</div>
        <div class="sector">Technology/WireleCommunication\n</div>
        <div>$0.7</div>
        <div class="stock-values">0.25% of $2.79 book value</div>
        <div>P/E: 124.00</div>
        <div>204415.0 <span class="asset-explanations">last year's assets </div>
        <div>49061.0 <span class="asset-explanations">last year's liabilities </div>
        <div>$9119.0 <span class="asset-explanations">three year asset difference</span></div>
        <div class="site"><a href=http://www.mncmi.com class="button"><span class="visit_site">visit site<span></a></div>
      </div>
      
			<div class="col-lg-3 col-lg-offset-4 company">
				<div class="company-name">ChinaNaturalGas,Inc.
					
        </div>
        <div>CHNGQ</div>
        <div class="sector">Utilities/GaUtilitie\n</div>
        <div>$0.01</div>
        <div class="stock-values">0.0% of $10.23 book value</div>
        <div>P/E: 1.57</div>
        <div>288501.0 <span class="asset-explanations">last year's assets </div>
        <div>84491.0 <span class="asset-explanations">last year's liabilities </div>
        <div>$17523.0 <span class="asset-explanations">three year asset difference</span></div>
        <div class="site"><a href=http://www.naturalgaschina.com class="button"><span class="visit_site">visit site<span></a></div>
      </div>
      
    </div>  
  </div>
</body>
</html>