<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Stocks</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="styles.css">
</head>

<body>
	<div class="container">
		<div class="col-lg-3 col-lg-offset-4 generated_date">
			<div>Generated @ </div>
			<div>Last read @Tue Jun 07 - 22:58</div>
		</div>
		<div class="companies">
			
			<div class="col-lg-3 col-lg-offset-4 company">
				<div class="company-name">ChinaGreenAgriculture,Inc.
					
          <span>****</span>
          
        </div>
        <div>CGA</div>
        <div class="sector">BasicMaterials/AgriculturalChemical\n</div>
        <div>$1.56</div>
        <div class="stock-values">0.15% of $10.16 book value</div>
        <div>P/E: 1.99</div>
        <div>429583.0 <span class="asset-explanations">last year's assets </div>
        <div>56633.0 <span class="asset-explanations">last year's liabilities </div>
        <div>$39109.33 <span class="asset-explanations">three year asset difference</span></div>
        <div class="site"><a href=http://www.cgagri.com class="button"><span class="visit_site">visit site<span></a></div>
      </div>
      
			<div class="col-lg-3 col-lg-offset-4 company">
				<div class="company-name">KingoldJewelry,Inc.
					
          <span>****</span>
          
        </div>
        <div>KGJI</div>
        <div class="sector">BasicMaterials/Gold\n</div>
        <div>$1.57</div>
        <div class="stock-values">0.37% of $4.29 book value</div>
        <div>P/E: 3.52</div>
        <div>469616.0 <span class="asset-explanations">last year's assets </div>
        <div>204029.0 <span class="asset-explanations">last year's liabilities </div>
        <div>$108794.0 <span class="asset-explanations">three year asset difference</span></div>
        <div class="site"><a href=http://www.kingoldjewelry.com class="button"><span class="visit_site">visit site<span></a></div>
      </div>
      
			<div class="col-lg-3 col-lg-offset-4 company">
				<div class="company-name">L&LEnergy,Inc.
					
        </div>
        <div>LLEN</div>
        <div class="sector">BasicMaterials/NonmetallicMineralMining\n</div>
        <div>$0.01</div>
        <div class="stock-values">0.0% of $5.72 book value</div>
        <div>P/E: 0.02</div>
        <div>322597.0 <span class="asset-explanations">last year's assets </div>
        <div>108737.0 <span class="asset-explanations">last year's liabilities </div>
        <div>$47094.67 <span class="asset-explanations">three year asset difference</span></div>
        <div class="site"><a href=http://www.lnlinternational.com class="button"><span class="visit_site">visit site<span></a></div>
      </div>
      
			<div class="col-lg-3 col-lg-offset-4 company">
				<div class="company-name">AtwoodOceanics,Inc.
					
        </div>
        <div>ATW</div>
        <div class="sector">BasicMaterials/Oil&GaDrilling&Exploration\n</div>
        <div>$12.19</div>
        <div class="stock-values">0.25% of $47.92 book value</div>
        <div>P/E: 1.60</div>
        <div>4809011.0 <span class="asset-explanations">last year's assets </div>
        <div>1861841.0 <span class="asset-explanations">last year's liabilities </div>
        <div>$484509.33 <span class="asset-explanations">three year asset difference</span></div>
        <div class="site"><a href=http://www.atwd.com class="button"><span class="visit_site">visit site<span></a></div>
      </div>
      
			<div class="col-lg-3 col-lg-offset-4 company">
				<div class="company-name">RowanCompaniesplc
					
        </div>
        <div>RDC</div>
        <div class="sector">BasicMaterials/Oil&GaDrilling&Exploration\n</div>
        <div>$19.3</div>
        <div class="stock-values">0.49% of $39.12 book value</div>
        <div>P/E: 22.28</div>
        <div>8347267.0 <span class="asset-explanations">last year's assets </div>
        <div>3574808.0 <span class="asset-explanations">last year's liabilities </div>
        <div>$108807.67 <span class="asset-explanations">three year asset difference</span></div>
        <div class="site"><a href=http://www.rowan.com class="button"><span class="visit_site">visit site<span></a></div>
      </div>
      
			<div class="col-lg-3 col-lg-offset-4 company">
				<div class="company-name">AsiaCarbonIndustries,Inc.
					
        </div>
        <div>ACRB</div>
        <div class="sector">BasicMaterials/SpecialtyChemical\n</div>
        <div>$0.02</div>
        <div class="stock-values">0.03% of $0.67 book value</div>
        <div>P/E: 0.17</div>
        <div>39808.0 <span class="asset-explanations">last year's assets </div>
        <div>4237.0 <span class="asset-explanations">last year's liabilities </div>
        <div>$6625.33 <span class="asset-explanations">three year asset difference</span></div>
        <div class="site"><a href=http://www.asiacarbonindustries.com class="button"><span class="visit_site">visit site<span></a></div>
      </div>
      
			<div class="col-lg-3 col-lg-offset-4 company">
				<div class="company-name">GulfResources,Inc.
					
          <span>****</span>
          
        </div>
        <div>GURE</div>
        <div class="sector">BasicMaterials/SpecialtyChemical\n</div>
        <div>$1.65</div>
        <div class="stock-values">0.22% of $7.53 book value</div>
        <div>P/E: 2.16</div>
        <div>356743.0 <span class="asset-explanations">last year's assets </div>
        <div>18632.0 <span class="asset-explanations">last year's liabilities </div>
        <div>$27086.33 <span class="asset-explanations">three year asset difference</span></div>
        <div class="site"><a href=http://www.gulfresourcesinc.com class="button"><span class="visit_site">visit site<span></a></div>
      </div>
      
			<div class="col-lg-3 col-lg-offset-4 company">
				<div class="company-name">SORLAutoParts,Inc.
					
          <span>****</span>
          
        </div>
        <div>SORL</div>
        <div class="sector">ConsumerGoods/AutoManufacturer-Major\n</div>
        <div>$1.8</div>
        <div class="stock-values">0.17% of $10.44 book value</div>
        <div>P/E: 3.09</div>
        <div>320554.0 <span class="asset-explanations">last year's assets </div>
        <div>120391.0 <span class="asset-explanations">last year's liabilities </div>
        <div>$33740.67 <span class="asset-explanations">three year asset difference</span></div>
        <div class="site"><a href=http://www.sorl.cn class="button"><span class="visit_site">visit site<span></a></div>
      </div>
      
			<div class="col-lg-3 col-lg-offset-4 company">
				<div class="company-name">SkyPeopleFruitJuice,Inc.
					
        </div>
        <div>SPU</div>
        <div class="sector">ConsumerGoods/Beverage-SoftDrink\n</div>
        <div>$1.85</div>
        <div class="stock-values">0.03% of $53.15 book value</div>
        <div>P/E: 1.01</div>
        <div>279434.0 <span class="asset-explanations">last year's assets </div>
        <div>98032.0 <span class="asset-explanations">last year's liabilities </div>
        <div>$43509.67 <span class="asset-explanations">three year asset difference</span></div>
        <div class="site"><a href=http://www.skypeoplefruitjuice.com class="button"><span class="visit_site">visit site<span></a></div>
      </div>
      
			<div class="col-lg-3 col-lg-offset-4 company">
				<div class="company-name">ParadiseInc.
					
        </div>
        <div>PARF</div>
        <div class="sector">ConsumerGoods/Confectioner\n</div>
        <div>$26.0</div>
        <div class="stock-values">0.62% of $42.22 book value</div>
        <div>P/E: 18.32</div>
        <div>24583.0 <span class="asset-explanations">last year's assets </div>
        <div>2358.0 <span class="asset-explanations">last year's liabilities </div>
        <div>$930.33 <span class="asset-explanations">three year asset difference</span></div>
        <div class="site"><a href=http://www.paradisefruitco.com class="button"><span class="visit_site">visit site<span></a></div>
      </div>
      
			<div class="col-lg-3 col-lg-offset-4 company">
				<div class="company-name">AoxinTianliGroup,Inc.
					
          <span>****</span>
          
        </div>
        <div>ABAC</div>
        <div class="sector">ConsumerGoods/FarmProduct\n</div>
        <div>$0.73</div>
        <div class="stock-values">0.25% of $2.88 book value</div>
        <div>P/E: 4.60</div>
        <div>110910.0 <span class="asset-explanations">last year's assets </div>
        <div>19100.0 <span class="asset-explanations">last year's liabilities </div>
        <div>$21279.67 <span class="asset-explanations">three year asset difference</span></div>
        <div class="site"><a href=http://www.aoxintianli-china.com class="button"><span class="visit_site">visit site<span></a></div>
      </div>
      
			<div class="col-lg-3 col-lg-offset-4 company">
				<div class="company-name">PingtanMarineEnterpriseLtd.
					
          <span>****</span>
          
        </div>
        <div>PME</div>
        <div class="sector">ConsumerGoods/FarmProduct\n</div>
        <div>$1.25</div>
        <div class="stock-values">0.68% of $1.84 book value</div>
        <div>P/E: 18.91</div>
        <div>231877.0 <span class="asset-explanations">last year's assets </div>
        <div>81407.0 <span class="asset-explanations">last year's liabilities </div>
        <div>$14864.0 <span class="asset-explanations">three year asset difference</span></div>
        <div class="site"><a href=http://www.ptmarine.com class="button"><span class="visit_site">visit site<span></a></div>
      </div>
      
			<div class="col-lg-3 col-lg-offset-4 company">
				<div class="company-name">YewBio-PharmGroup,Inc.
					
        </div>
        <div>YEWB</div>
        <div class="sector">ConsumerGoods/FarmProduct\n</div>
        <div>$0.07</div>
        <div class="stock-values">0.09% of $0.78 book value</div>
        <div>P/E: 0.71</div>
        <div>43811.0 <span class="asset-explanations">last year's assets </div>
        <div>4641.0 <span class="asset-explanations">last year's liabilities </div>
        <div>$5755.33 <span class="asset-explanations">three year asset difference</span></div>
        <div class="site"><a href=http://www.yewbiopharm.com class="button"><span class="visit_site">visit site<span></a></div>
      </div>
      
			<div class="col-lg-3 col-lg-offset-4 company">
				<div class="company-name">NovaLifestyle,Inc.
					
          <span>****</span>
          
        </div>
        <div>NVFY</div>
        <div class="sector">ConsumerGoods/HomeFurnihing&Fixture\n</div>
        <div>$0.52</div>
        <div class="stock-values">0.21% of $2.47 book value</div>
        <div>P/E: 20.36</div>
        <div>89748.0 <span class="asset-explanations">last year's assets </div>
        <div>29756.0 <span class="asset-explanations">last year's liabilities </div>
        <div>$12758.0 <span class="asset-explanations">three year asset difference</span></div>
        <div class="site"><a href=http://www.novalifestyle.com class="button"><span class="visit_site">visit site<span></a></div>
      </div>
      
			<div class="col-lg-3 col-lg-offset-4 company">
				<div class="company-name">SenYuInternationalHoldings,
					
        </div>
        <div>CSWG</div>
        <div class="sector">ConsumerGoods/MeatProduct\n</div>
        <div>$0.02</div>
        <div class="stock-values">0.01% of $3.71 book value</div>
        <div>P/E: 0.01</div>
        <div>68348.0 <span class="asset-explanations">last year's assets </div>
        <div>7581.0 <span class="asset-explanations">last year's liabilities </div>
        <div>$23972.0 <span class="asset-explanations">three year asset difference</span></div>
        <div class="site"><a href=http://www.hljsenyu.com class="button"><span class="visit_site">visit site<span></a></div>
      </div>
      
    </div>  
  </div>
</body>
</html>